.gifContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gifRecomended {
  width: 100%;
  overflow-x: scroll;
  display: flex;
}

.gifFinded {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
