.container {
  display: flex;
  flex-direction: column;
}

.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.homeBody {
  margin-bottom: 5rem;
}

.homeFooter {
  height: 3rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
